/*------------------ basis --------------------*/
body{
    background: url("images/background.jpeg");
    background-color: #3B3B3B;
    background-size: 100%;
    font-family: sans-serif;
}


/*------------------ menu ---------------------*/
.menu a {
    background-color: #1F1F1F;
    color: #969696;
    display: block;
    text-decoration: none;
    padding: 12px;
    width: 90%;
}

.menu a:hover {
    background-color: #3B3B3B;
    color: #C4C4C4;
}

.menu a.active {
    background-color: #3B3B3B;
    color: white;
}

.menu {
    float: left;
    width: 10%;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

/*------------------ vlakken ------------------*/
header {
    height: 5%;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(31, 31, 31, 0.7);
}

header a{
    margin: auto;
}

/*-----------opmaak artikelen -----------------*/
article h1{
    color: whitesmoke;
}

article p{
    color: white;
}
article a {
    color: #3B3B3B;
    text-decoration: none;
    font-weight: bold;
}

.base {
    background-color:#1F1F1F;
    width: 75%;
    padding: 1%;
    margin: auto;
}

h1, h2, p {
    text-align: left;
}

/*--------------opmaak footer -----------------*/
footer {
    height: 50px;
    
    color: #C4C4C4;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #969696;
}

footer a:hover{
    color: #C4C4C4;
}